<div class="header">
    <h2 style="text-align: center;">Liste des membres</h2><a routerActive="active" class="nav-link" style="margin-left:80%; color: white; margin-top: -4%;" routerLink="/admin/addMembre"><b>Nouveaux <i class="fas fa-user-plus"></i></b></a>
</div>
<div class="container" style="margin-top: 5%;margin-left: 20%; background-color: aliceblue; width: 48%; height: 72%;">
    <div class="row" style="margin-left:-2%; margin-top: 1%;">
        <app-list-users *ngFor="let listUser of listUsers" class="col-sm-4 mb-3" [list]="listUser"></app-list-users>
    </div>
    <button class="btn pagination" (click)="readUsers(pageCurrent - 1)" [disabled]="(pageCurrent==1)">Precedent</button>
    <button class="btn pagination" (click)="readUsers(pageCurrent + 1)" [disabled]="(pageCurrent==totalPage)">Suivant</button>
</div>
<router-outlet ></router-outlet>