<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper fadeInDown">
    <div class="formContent">
        <h2 class="active">Creation d'un Tour</h2>
        <a routerLink="/profil"><i class="fa fa-list" aria-hidden="true"></i>Lister Les Tours</a>
        <div class="fadeIn first">
        <img src="../assets/log.jpeg" id="icon" alt="User Icon" />
        </div>
        <div class="formFooter">
            <div class="alert alert-success" role="alert" *ngIf="success==='true'">
                <h4> Tour creer avec success !!!</h4>
              </div>
        <div class="col-md-12 user-container">
            <div class="nom">
                <button class="btn btn-success" (click)="sortant()" style="font-size: 20px;">Tirage au sort</button>
                <span style="color: red; font-size: 20px;"> {{ gagnantPrenom }} {{ gagnantNom }} </span>
            </div>
            <form [formGroup]="addForm">  

                <div class="col mb-4 mt-3">
                    <label for="nom"><b>Libelle</b></label>
                    <input type="text" class="form-control" placeholder="Le nom du tour" formControlName="nom" name="nom">
                    <span style="color: red; font-size: 16px;"> {{ erreurNom }} </span>
                </div>

                <div class="col mb-4">
                    <label for="tontine" ><b>Veiller selectionner un Tontine</b></label> <br>
                    <select name="tontine" formControlName="tontine">
                        <option *ngFor="let listTontine of listTontine" value="{{ listTontine.id }}">{{ listTontine.nom }} </option>
                    </select><br>
                    <span style="color: red; font-size: 16px;"> {{ erreurTontine }} </span>
                </div>

                <div class="col">
                    <label for="date"><b>Choisi la date</b></label>
                    <input type="date" class="form-control" formControlName="date" name="date">
                </div>
                <span style="color: red; font-size: 16px;"> {{ erreurDate }} </span>

                <input id="button" type="button" (click)="onSubmit()" class="btn btn-primary btn-lg btn-block" value="Créer">
              </form>
        </div>
    </div>
    </div>
    </div>
</body>
</html>
        