@import url('https://fonts.googleapis.com/css?family=Poppins');

/* BASIC */

html {
  background-color: #56baed;
  height: 0;
}

a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px; 
  color: #cccccc;
}

/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  
}
#icon{
    width: 10%;
}

.formContent {
  border-radius: 10px 10px 10px 10px;
  background: #fff; 
  width: 40%;
  height: 750px;
  margin-left: 3%;
  margin-top: 0%;
  -webkit-box-shadow: 60px 30px 60px 60px rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

.formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  height: 50px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}
.tontine{
  width: 80%;
  margin-left: 10%;
  margin-top: 7%;
}
.tontine select{
  border-radius: 10px;
  height: 50px;
  font-size: 26px;
  border-color: deepskyblue;
}
.tour{
  width: 80%;
  margin-left: 10%;
  margin-top: -1%;
  
}
.tour select{
  border-radius: 10px;
  height: 50px;
  font-size: 26px;
  border-color: deepskyblue;
}
.user{
  width: 80%;
  margin-left: 10%;
  margin-top: -1%;
}
.user select{
  border-radius: 10px;
  height: 50px;
  font-size: 26px;
  border-color: deepskyblue;
}
.montant{
  width: 80%;
  margin-left: 10%;
  margin-top: -1%;
  
}
.montant input{
  border-radius: 10px;
  height: 50px;
  font-size: 26px;
  border-color: deepskyblue;
}
.interet{
  width: 60%;
  margin-left: -5%;
  font-size: 16px;
  margin-top: -1%;
}

/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}
button{
  width: 70%;
  height: 40px;
}