@import url('https://fonts.googleapis.com/css?family=Poppins');

/* BASIC */

html {
  background-color: #56baed;
  height: 0;
}



a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px; 
  color: #cccccc;
}

/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  width: 100%;
}
#icon{
    width: 15%;
}

.formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  width: 50%;
  position: relative;
  margin-left: 3%;
  margin-top: 0%;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
  height: 600px;
}

.formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  border-radius: 0 0 10px 10px;
}
h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}
.nom{
    width: 45%;
    height: 40%;
    position: absolute;
    top: 12%;
}
.session{
    width: 45%;
    height: 40%;
    position: absolute;
    left: 53%;
    top: 12%;
}
.dateCre{
    width: 45%;
    height: 40%;
    position: absolute;
    top: 47%;
}
.datef{
    width: 45%;
    height: 40%;
    position: absolute;
    left: 53%;
    top: 47%;
}
input{
    border-radius: 10px;
    height: 50px;
    border-color: #56baed;
    box-shadow: 0 0 30px 0 #cccccc;
    font-size: 20px;
}