a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}
#icon{
    width: 10%;
}

.formContent {
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 30%;
  max-width: 1000px;
  position: absolute;
  top: 50%;
  left: 35%;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

.formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}
h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}
