<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper fadeInDown">
    <div class="formContent">
        <h2 class="active">Modifier un utilisateur</h2>
        <div class="fadeIn first">
        <img src="https://aathifrupay.com/DesignFiles/img/loginpannel.png" id="icon" alt="User Icon" />
        </div>
        <div class="formFooter">
        <div class="col-md-12 user-container">
            <form [formGroup]="addForm">
                    
                <div class="form-group">
                    <div class="form-row">
                        <div class="col mb-3">
                            <label for="prenom">Prenom</label>
                            <input type="text" class="form-control" placeholder="prenom" formControlName="prenom" name="prenom">
                        </div>
                        <div class="col mb-4">
                            <label for="nom">Nom</label>
                            <input type="text" class="form-control" placeholder="nom" formControlName="nom" name="nom">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-row">
                        <div class="col mb-4">
                            <label for="telephone">Telephone</label>
                            <input type="text" class="form-control" placeholder="telephone" formControlName="telephone" name="telephone">
                        </div>
                        <div class="col mb-4">
                            <label for="adresse">Adresse</label>
                            <input type="text" class="form-control" placeholder="adresse" formControlName="adresse" name="adresse">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-row">
                        <div class="col mb-4">
                            <label for="genre">Genre</label>
                            <select name="genre" id="genre" class="form-control" formControlName="genre" style="height:85%">
                                <option value="Masculin">Masculin</option>
                                <option value="Feminin">Feminin</option>
                                <option value="Autre">Autre</option>
                            </select>
                        </div>
                        <div class="col mb-4">
                            <label for="profil">Profil</label>
                            <select name="profil" id="profil" class="form-control" formControlName="profil" style="height:85%">
                                <option value="1">User</option>
                                <option value="2">Gerant</option>
                                <option value="3">Tresorier</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-row">
                        <div class="col mb-4">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" placeholder="email" formControlName="email" name="email">
                        </div>
                        <div class="col mb-4">
                            <label for="password">Password</label>
                            <input type="text" class="form-control" placeholder="password" formControlName="password" name="password">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-row">
                       <div class="col mb-4">
                            <label for="telephone">Avatar</label>
                            <input type="file" class="form-control" (change)="onUploadAvatar($event)" placeholder="avatar" formControlName="avatar" name="avatar">
                        </div>
                        <div class="col mb-4">
                            <label for="role">Role</label>
                            <select name="role" id="role" class="form-control" formControlName="role" style="height:85%">
                                <option value="['ROLE_MEMBRE']">Membre simple</option>
                                <option value="['ROLE_ADMIN']">Administrateur</option>
                                <option value="['ROLE_GERANT']">Gerant</option>
                                <option value="['ROLE_TRESORIER']">Tresorier</option>
                            </select>
                        </div>

                    </div>
                </div>


                <button type="button" (click)="onSubmit()" class="btn btn-primary">Modifier</button>
              </form>
        </div>
    </div>
    </div>
    </div>
</body>
</html>